/* All css sheard style */
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.hi-light {
  color: #ff42a5;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 15px 30px;
  outline: none;
  border: none;
}

/* Header related style */

/* Nav related style started */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #fff;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-icon {
  height: 40px;
}
.nav-icon-name {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-align: center;
}
.nav-menu-item a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #3c354f;
}
.nav-menu-btn {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 5px;
  background: #0b02231a;
  outline: none;
  border: none;
}
#nav-btn-icon {
  font-size: 1.5rem;
  padding: 0 5px;
  color: red;
}
/* nav related style ended */

/* Header banner related style */
.header-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 50%;
}

.banner-title {
  font-size: 3rem;
}
.banner-main-title {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-opction {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 10px;
}
.btn-1 {
  margin: 40px 20px 0 0;
}
.btn-2 {
  background: #4ec5f7;
}
.header-banner-photo {
  width: 500px;
}
/* header banner related style ended */
/* header rleated style ended */

/* Main related style started */
/* gamer section related style started */
.gamer-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  text-align: right;
}
.gamer-photo {
  width: 600px;
}
.gamer-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}
.gamer-des {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
}
.purpose-title {
  color: #534c64;
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
}
.gamer-btn {
  margin: 20px 0;
}
.purpose-des {
  color: #534c64;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
/* gamer section related style ended */