/* All css sheard style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.hi-light {
  color: #ff42a5;
}

.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 15px 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Header related style */

/* Nav related style started */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #fff;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  height: 40px;
}

.nav-icon-name {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-align: center;
}

.nav-menu-item a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #3c354f;
}

.nav-menu-btn {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 5px;
  background: #0b02231a;
  outline: none;
  border: none;
}

#nav-btn-icon {
  font-size: 1.5rem;
  padding: 0 5px;
  color: red;
}

/* nav related style ended */

/* Header banner related style */
.header-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 50%;
}

.banner-title {
  font-size: 3rem;
}

.banner-main-title {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-opction {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 10px;
}

.btn-1 {
  margin: 40px 20px 0 0;
}

.btn-2 {
  background: #4ec5f7;
}

.header-banner-photo {
  width: 500px;
  margin-bottom: -5px;
}

/* header banner related style ended */
/* header rleated style ended */

/* Main related style started */
/* gamer section related style started */
.gamer-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  text-align: right;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-photo {
  width: 600px;
}

.gamer-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}

.gamer-des {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
}

.purpose-title {
  color: #534c64;
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
}

.gamer-btn {
  margin: 20px 0;
}

.purpose-des {
  color: #534c64;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

/* gamer section related style ended */

/* funny video section related style started */
.funny-video-container {
  padding: 0 10%;
}

.funny-video-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 20px;
}

.title-hi-light {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny-video-main-des {
  text-align: center;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.funny-video-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.funny-video-photo {
  width: 100%;
}

.funny-video-des {
  padding: 15px 0px;
  font-size: 16px;
  color: #534c64;
  font-weight: bold;
  word-spacing: 0.5px;
}

/* funny video section related style ended */

/* play section related style started */
.play-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  padding: 0px 10%;
  margin: 100px 0px;
  text-align: right;
}

.play-section-title {
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
}

.play-section-des {
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.play-img-section {
  position: relative;
}

.main-photo {
  position: relative;
  width: 500px;
}

.sub-photo {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 200px;
}

/* play section related style ended */

/* play games section related style */
.play-games {
  flex-direction: row-reverse;
}
.play-games-title {
  text-align: left;
}
.play-games-des {
  text-align: left;
}
.play-games-img {
  position: relative;
}
.games-main-photo{
  position: relative;
  width: 500px;
}
.games-sub-photo {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 200px;
}

/* play games section telated style ended */

/* careers section related style started */
.careere-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  gap: 10px;
  background-color: #f948b2;
  color: white;
}

.careers-title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin: 20px 0;
}

.careers-des {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}

.careers-service-container {
  display: flex;
  justify-content: space-between;
}

.career-service li {
  list-style: none;
  padding-bottom: 10px5
}

.careers-country li {
  list-style: none;
  padding-bottom: 5px;
  text-align: right;
}

.careers-btn {
  color: #f948b2;
  background: #FFF;
  margin: 20px 0;
}

.careers-photo {
  width: 600px;
}

/*  careers related section ended */

/* games opction section related style started */
.games-opction-container {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  padding: 100px 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.game-opction-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #FFF;
  border-radius: 50px;
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.game-opction-btn:hover {
  border: #f948b2 2px solid;
}

.game-opction-btn:hover .btn-title {
  color: #f948b2;
}

.btn-img {
  height: 30px;
}

.btn-title {
  color: #0B0223;
  font-size: 14px;
  font-weight: 600;
}

/* games opction section related style ended */
/* main section ended */

/* footer related style started */
footer {
  padding: 50px 10%;
  background: #0B0223;
}

.footer-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-title {
  color: #FFF;
}

.footer-menus-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin-top: 30px;
}

.footer-menu a {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  list-style: none;
}

.icon {
  color: #FFF;
  font-size: 2rem;
}

.footer-last-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin-top: 30px;
  list-style: none;
}

.last-menu a {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footer-finishing-title {
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}

/* footer related style ened */

/* Mobile responsive */
@media only screen and (min-width: 200px) and (max-width: 767px) {

  /* nav seciton */
  nav {
    flex-direction: column;
  }

  .nav-menu-list {
    flex-direction: column;
    margin-top: 20px;
  }

  /* header banner seciton */
  .header-banner-container {
    flex-direction: column;
  }

  .header-banner-imgaria {
    width: 100%;
  }

  .header-banner-photo {
    width: 100%;
  }

  /* gamer-section */
  .gamer-conatiner {
    flex-direction: column row-reverse;
  }

  .gamer-img-container {
    width: 100%;
  }

  .gamer-photo {
    width: 100%;
  }

  /* funny video seciton */
  .funny-video-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .funny-video-title {
    font-size: 45px;
    padding: 10px;
  }

  .funny-video-main-des {
    font-size: 18px;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .funny-video {
    margin-bottom: 50px;
    height: 400px;
  }

  /* play seciton */
  .play-text-section {
    padding-bottom: 50px;
  }

  .play-section-container {
    flex-direction: column;
  }

  .main-photo {
    width: 300px;
  }

  .sub-photo {
    width: 150px;
  }
  /* play games section */
  .games-main-photo{
    width: 300px;
  }
  .games-sub-photo{
    width: 150px;
  }
  /* careere seciton */
  .careere-section-container {
    flex-direction: column;
  }

  .careers-text-section {
    padding-right: 10%;
  }

  .careers-photo {
    width: 380px;
  }

  /* games opction section */
  .games-opction-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-title {
    font-size: 14px;
    font-weight: normal;
  }

  /* footer section */
  .footer-menus-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-menu{
    height: 10px;
  }
  .footer-menu a {
    font-size: 14px;
    font-weight: normal;
  }
  .footer-last-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .last-menu{
    height: 10px;
  }
  .last-menu a{
    font-size: 14px;
    font-weight: normal;
  }
  .footer-finishing-title{
    font-size: 16px;
    font-weight: normal;
  }
}